@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: #ffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  padding: 15px 35px;
  transition: 0.5s;
}
.btn-primary a{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.btn-sec a{
  text-decoration: none;
  color: #fd6e0a;
}
.btn-primary:hover{
  cursor: pointer;
  background: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
.btn-primary:hover a{
  color: #fd6e0a;
}
.btn-sec:hover{
  cursor: pointer;
  background: #fd6e0a;
}
.btn-sec:hover a{
  color: #ffff;
}
.primary-h3 {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.primary-p {
  color: #757575;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  width: 66%;
  margin: auto;
}
.btn-sec {
  border-radius: 5px;
  background: #fff8f3;
  border: none;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  padding: 15px 35px;
  margin: 50px 30px;
  transition: .5s;
}
.navigation {
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-tile {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
 
}
nav li a {
  text-decoration: none;
  color: #474747;
  transition: 0.5s;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
ul li>a:hover{
  background-color: #fd6e0a;
  padding: 10px 20px;
  border-radius: 5px;
}
.navigation ul li:hover a{
  color: #ffff;
}
/* navigation close */

/* banner start  */
header {
  background: #fff8f3;
  background: url("../images/header_bg.png"), url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left bottom;
  margin-bottom: 100px;
}
.banner {
  padding: 35px 35px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bnner-text h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.bnner-text h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}
.bnner-text p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.banner img {
  height: 676px;
}

/* about section  */
.about-us {
  max-width:1140px;
  padding: 50px 50px;
  border-radius: 10px;
  background: #fff8f3;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}
.service-section {
  max-width: 1140px;
  margin: 100px auto;
  padding: 0 100px;
}
.service {
  padding: 30px;
  /* width: 200px;
  height: 377px; */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.service p {
  line-height: 30px;
}
.service img {
  padding-bottom: 15px;
}
.service h4 {
  padding: 30px 0px;
}
.service-container {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  margin: 100px 0px;
}
.resume-container {
  display: flex;
  gap: 50px;
  max-width: 1140px;
  /* width: 75%; */
  margin: 100px auto 50px auto;
  padding: 0px 100px;
}
.column h2 {
  padding: 20px 0px;
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.column h3 {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.column h4 {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.column p {
  padding: 0px 30px 0px 0px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.resume-btn {
  display: block;
  margin: 0px auto 50px auto;
}
/* footer section */
footer {
  background: #fff8f3;
}

.footer-container {
  padding: 100px 150px;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background: #fff8f3;
}
.footer-column h3 {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 10px;
}
.footer-column p {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding-bottom: 20px;
}
.footer-column img {
  padding-right: 10px;
  width: 24px;
  height: 24px;
}
.footer-column input,
textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 20px 35px;
  margin-top: 15px;
}
/* responsive css */

/* small device  */
@media screen and (max-width: 575px) {
  .navigation,
  nav > ul,
  .banner,
  .about-info-container,
  .service-container,.resume-container,.footer-container {
    flex-direction: column;
  }
  nav > ul li {
    margin-bottom: 10px;
  }
  header {
    background: none;
  }
  .banner img {
    border: 10px solid #fd6e0a;
    margin: auto;
    border-radius: 100%;
    width: 100%;
    height: auto;
  }
  .resume-container,.service-section{
    padding: 0px 20px;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .bnner-text h1 {
    font-size: 40px;
    font-weight: 600;
  }
  .banner-text h3{
    font-size: 25px;
  }
  .about-us{
    text-align:center;
    padding: 0px 20px;
  }
  .about-info {
    padding: 10px;
  }
  .primary-p{
    width: 100%;
  }
  .footer-container{
    padding: 100px 20px;
  }
  .footer-column{
    padding: 10px 0;
  }
  .footer-column input,textarea{
    width: 80%;
  }
  .btn-sec,.btn-primary{
    margin: 20px 0px;
  }
}
@media screen and (min-width:575px) and (max-width:992px) {
  .navigation,.banner,
  .about-info-container,
  .service-container,.resume-container,.footer-container {
    flex-direction: column;
  }
  img{
    max-width: 100%;
  }
  .btn-sec,.btn-primary{
    margin: 20px 0px;
  }
  header {
    background: none;
  }
  .banner,.about-info {
    padding: 20px;
  }
  .banner{
    align-items: start;
  }
  .banner-text h3{
    font-size: 10px;
    font-weight: 300;
  }
  .navigation{
    padding: 50px 0px;

  }
  .about-info-container{
    text-align: start;
  }
  .resume-container,.service-section{
    padding: 0px 20px;
  }
  .footer-container{
    padding: 100px 20px;
  }
  .footer-column input,textarea{
    width: 80%;
  }
  .footer-column{
    padding: 10px 0;
  }
}